main {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: #56007e;
  width: 99vw;
  height: 10vh;
  border-radius: 0px 0px 35px 35px;
}

@media (orientation: landscape) {
  main {
    font-size: 2vh;
  }
}

@media (orientation: portrait) {
  main {
    font-size: 1.5vh;
  }
}
